@font-face {
  font-family: 'shMain';
  src:  url('fonts/shMain.eot?orp4v2');
  src:  url('fonts/shMain.eot?orp4v2#iefix') format('embedded-opentype'),
    url('fonts/shMain.ttf?orp4v2') format('truetype'),
    url('fonts/shMain.woff?orp4v2') format('woff'),
    url('fonts/shMain.svg?orp4v2#shMain') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="shm-"], [class*=" shm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shMain' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shm-arrow-down-fill:before {
  content: "\e969";
}
.shm-checkbox-checked:before {
  content: "\e964";
}
.shm-checkbox-unchecked:before {
  content: "\e965";
}
.shm-remove-check-all:before {
  content: "\e966";
}
.shm-close-rounded:before {
  content: "\e967";
}
.shm-android:before {
  content: "\e968";
}
.shm-warning:before {
  content: "\e962";
}
.shm-EmailQuoteblock:before {
  content: "\e963";
}
.shm-Edit_quota:before {
  content: "\e961";
}
.shm-smtp:before {
  content: "\e95f";
}
.shm-gmail:before {
  content: "\e960";
}
.shm-domain_block:before {
  content: "\e95e";
}
.shm-SHbox .path1:before {
  content: "\e959";
  color: rgb(27, 29, 29);
}
.shm-SHbox .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(248, 249, 249);
}
.shm-SHbox .path3:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(248, 249, 249);
}
.shm-SHbox .path4:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(245, 245, 245);
}
.shm-SalesHandyLogo:before {
  content: "\e95d";
}
.shm-saleshandy_logo_black .path1:before {
  content: "\e94b";
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path2:before {
  content: "\e94c";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path3:before {
  content: "\e94d";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path4:before {
  content: "\e94e";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path5:before {
  content: "\e94f";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path6:before {
  content: "\e950";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path7:before {
  content: "\e951";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path8:before {
  content: "\e952";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path9:before {
  content: "\e953";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path10:before {
  content: "\e954";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path11:before {
  content: "\e955";
  margin-left: -3.75390625em;
  color: rgb(27, 29, 29);
}
.shm-saleshandy_logo_black .path12:before {
  content: "\e956";
  margin-left: -3.75390625em;
  color: rgb(248, 249, 249);
}
.shm-saleshandy_logo_black .path13:before {
  content: "\e957";
  margin-left: -3.75390625em;
  color: rgb(248, 249, 249);
}
.shm-saleshandy_logo_black .path14:before {
  content: "\e958";
  margin-left: -3.75390625em;
  color: rgb(245, 245, 245);
}
.shm-search:before {
  content: "\e94a";
}
.shm-outlook:before {
  content: "\e949";
}
.shm-faq:before {
  content: "\e948";
}
.shm-resend:before {
  content: "\e947";
}
.shm-apple:before {
  content: "\e946";
}
.shm-checkmark:before {
  content: "\e93d";
}
.shm-edge:before {
  content: "\e93e";
}
.shm-firefox:before {
  content: "\e93f";
}
.shm-internet-explorer:before {
  content: "\e940";
}
.shm-linux:before {
  content: "\e941";
}
.shm-plus_add:before {
  content: "\e942";
}
.shm-plus_circle:before {
  content: "\e943";
}
.shm-safari:before {
  content: "\e944";
}
.shm-ubuntu-logo:before {
  content: "\e945";
}
.shm-windows:before {
  content: "\e93b";
}
.shm-chrome:before {
  content: "\e93c";
}
.shm-mark_default:before {
  content: "\e92f";
}
.shm-stop_icon:before {
  content: "\e93a";
}
.shm-link:before {
  content: "\e900";
}
.shm-add_document:before {
  content: "\e901";
}
.shm-all_document:before {
  content: "\e902";
}
.shm-all_shared_documents:before {
  content: "\e903";
}
.shm-analytics:before {
  content: "\e904";
}
.shm-back:before {
  content: "\e905";
}
.shm-become_an_affiliate:before {
  content: "\e906";
}
.shm-close:before {
  content: "\e907";
}
.shm-contacts:before {
  content: "\e908";
}
.shm-copy:before {
  content: "\e909";
}
.shm-credit_card:before {
  content: "\e90a";
}
.shm-date_time:before {
  content: "\e90b";
}
.shm-delete:before {
  content: "\e90c";
}
.shm-document:before {
  content: "\e90d";
}
.shm-document_tracking:before {
  content: "\e90e";
}
.shm-down_arrow:before {
  content: "\e90f";
}
.shm-download:before {
  content: "\e910";
}
.shm-edit:before {
  content: "\e911";
}
.shm-email:before {
  content: "\e912";
}
.shm-email_campaigns:before {
  content: "\e913";
}
.shm-email_reports:before {
  content: "\e914";
}
.shm-email_sequence:before {
  content: "\e915";
}
.shm-email_tracking:before {
  content: "\e916";
}
.shm-failed:before {
  content: "\e917";
}
.shm-feeds:before {
  content: "\e918";
}
.shm-filter:before {
  content: "\e919";
}
.shm-full_view:before {
  content: "\e91a";
}
.shm-help_icon:before {
  content: "\e91b";
}
.shm-information:before {
  content: "\e91c";
}
.shm-left_arrow:before {
  content: "\e91d";
}
.shm-location_tracking:before {
  content: "\e91e";
}
.shm-logout_icon:before {
  content: "\e91f";
}
.shm-mail_bounce:before {
  content: "\e920";
}
.shm-menu:before {
  content: "\e921";
}
.shm-more_options:before {
  content: "\e922";
}
.shm-move:before {
  content: "\e923";
}
.shm-my_proifle:before {
  content: "\e924";
}
.shm-notification:before {
  content: "\e925";
}
.shm-notifications_off:before {
  content: "\e926";
}
.shm-performance:before {
  content: "\e927";
}
.shm-referesh:before {
  content: "\e928";
}
.shm-reply:before {
  content: "\e929";
}
.shm-right_arrow:before {
  content: "\e92a";
}
.shm-sent:before {
  content: "\e92b";
}
.shm-settings:before {
  content: "\e92c";
}
.shm-share:before {
  content: "\e92d";
}
.shm-shared:before {
  content: "\e92e";
}
.shm-stop_tracking:before {
  content: "\e930";
}
.shm-subscription_billing:before {
  content: "\e931";
}
.shm-templates:before {
  content: "\e932";
}
.shm-time:before {
  content: "\e933";
}
.shm-unshare:before {
  content: "\e934";
}
.shm-up_arrow:before {
  content: "\e935";
}
.shm-views:before {
  content: "\e936";
}
.shm-watch_video_tutorials:before {
  content: "\e937";
}
.shm-webhook_test_response:before {
  content: "\e938";
}
.shm-whats_new:before {
  content: "\e939";
}
